@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

body {
  background-color: #141414;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  /* transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1); */
}
/* .swiper-slide {
  position: relative;
} */

.swiper-pagination {
  top: 10px !important;
  right: 10px !important;
  width: auto !important;
  z-index: 9999 !important;
  /*   text-align: right !important;
  height: auto !important; */
}

.swiper-pagination-bullet {
  /* background-color: rgb(255, 255, 255) !important; */
  background-color: red !important;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  font-weight: bolder;
  transform: scale(0.5);
  transition: all 0.4s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1);
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  overflow: hidden;
  margin-right: 7px;
  cursor: pointer;
  background: #141414;
  transition: all 450ms !important;
}

.swiper-slide:hover {
  z-index: 10000;
  transform: scale(1.3) !important;
  /* box-shadow: -2px 0px 40px -21px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: -2px 0px 40px -21px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -2px 0px 40px -21px rgba(0, 0, 0, 0.8); */
}

.swiper-wrapper:hover .swiper-slide {
  position: relative;
}
