@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 78rem;
  margin: 0 auto;
}

body {
  background-color: #141414;

  overflow-x: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  color: #fff !important;
  font-weight: bolder;
  transform: scale(0.5);
  transition: all 0.4s ease-in-out;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.4);
}

.swiper {
  overflow: visible !important;
}

.swiper-slide {
  overflow: hidden;
  margin-right: 7px;
  cursor: pointer;
  background: #141414;
  transition: all 450ms !important;
}

.swiper-slide:hover {
  z-index: 10000;
  transform: scale(1.7) !important;
}

@media (max-width: 68em) {
  .container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  html {
    font-size: 95%;
  }
}


